body{

background:#05050a;

color:#c77dff;

font-family:monospace;

margin:0;

}

header{

display:flex;

justify-content:space-between;

padding:20px;

background:#0f0f1a;

}

nav a{

color:#c77dff;

margin:10px;

text-decoration:none;

}

section{

padding:80px;

text-align:center;

}

.terminal-body{

background:black;

color:#00ff9c;

}

.terminal{

padding:20px;

}

#input{

width:100%;

background:black;

color:#00ff9c;

border:none;

}

#chatbot{

position:fixed;

bottom:20px;

right:20px;

width:260px;

background:#111;

border:1px solid purple;

}

#chat-messages{

height:150px;

overflow:auto;

}